//Tablet 768px - 1024px
& when (@media-target = 'desktop'), (@media-target = 'all') {
    @media only screen and (min-width: @screen__m) and (max-width: (@screen__l - 1)) {

        body{
            background: blue;
        }

        .page-wrapper {
            overflow: auto;
        }

        .header.content {
            display: flex;
            width: 100%;
            height: 242px;
            position: relative;
            align-items: center;
        }

        .message {
            font-weight: bold;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
            color: #1f1f1f;
            margin-top: 10px;
        }

        .message.success {
            font-size: 1.3rem;
            background: #e5efe5;
            color: #006400;
            position: relative;
            top: -60px;
            min-width: 123rem;
            margin: 0 0 50px;
        }

        .close-btn {
            position: absolute;
            width: 16px;
            height: 16px;
            right: 55px;
            top: 14px;
        }

        .page-header .panel.wrapper {
            background: #c2e8ce;
            position: absolute;
            width: 100%;
            border-bottom: none;
        }

        .page-header .header.panel {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 50px;
            background: #c2e8ce;
            color: black;
            position: relative;
        }

        .header.panel > .header.links {
            display: none;
        }

        .navigation ul {
            font-size: 16px;
            position: absolute;
            bottom: 100px;
            left: 117px;
        }

        .navigation .level0 > .level-top:after {
            content: "\2304";
            width: 25px;
            height: 25px;
        }

        .menuLink {
            font-size: 20px;
            text-decoration: none;
        }

        nav {
            display: flex;
            align-items: center;
            margin-left: 55px;
        }

        a {
            text-decoration: none;
            color: black;
        }

        ul > li {
            list-style: none;
        }

        .minicart-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            font-size: 22px;
            border: 1px solid #bfbfbf;
            border-radius: 50%;
            margin-left: 0;
            position: relative;
            right: 245px;
            top: 48px;
        }


        .minicart-wrapper .action.showcart:before {
            font-size: 27px;
        }

        .round {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            border: 1px solid #bfbfbf;
            border-radius: 50%;
            margin-left: 20px;
        }

        .top-menu {
            display: flex;
            position: absolute;
            align-items: center;
            margin: 93px 242px 0;
        }

        .search {
            width: 24px;
            height: 24px;
            background-repeat: no-repeat;
        }

        .profile {
            width: 24px;
            height: 30px;
            background-repeat: no-repeat;
        }

        .minicart-wrapper .action.showcart .counter.qty {
            position: absolute;
            min-width: 16px;
            height: 16px;
            left: 45px;
            top: 1px;
            text-align: center;
            background: #ff8126;
            border-radius: 50%;
            font-weight: 500;
            font-size: 9px;
            line-height: 16px;
            color: #ffffff;
            padding: 0 2px;
        }

        .banner {
            position: relative;
            width: 100%;

            .details {
                position: absolute;
                left: 55px;
                top: 56px;

                h1 {
                    font-size: 30px;
                    line-height: 20px;
                }

                h2 {
                    font-size: 26px;
                    line-height: 39px;
                }
            }
        }

        .inf-section {
            display: block;
            text-align: center;
            padding: 20px 20px;
            width: 66rem;
        }

        .navigation, .breadcrumbs,
        .page-header .header.panel,
        .header.content, .footer.content,
        .page-wrapper > .widget,
        .page-wrapper > .page-bottom,
        .block.category.event,
        .top-container, .page-main {
            max-width: 80rem;
        }

        .banner-right {
            display: none;
        }

        footer {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 57px 72px;
            background-repeat: no-repeat;
        }

        .logo-footer {
            width: 120px;
            height: 95px;
            margin: 0px 100px 30px;
        }

        .footer-section {
            margin-left: 30px;

            nav {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }

            h5 {
                margin: 15px 41px 34px 52px;
            }

            a {
                margin-top: 8px;
                font-family: "Poppins", serif;
                font-size: 15px;
                line-height: 22px;
                color: #3d3d3d;
            }
        }

        .page-footer {
            display: flex;
            justify-content: center;
            margin: 0 auto;
            background: inherit;
        }

        .container{
            max-width: 690px;
        }

        .our_parther {
            width: 100%;
            height: 300px;
            margin-top: 80px;

            h2 {
                font-family: 'Cormorant', sans-serif;
                font-weight: bold;
                font-size: 30px;
                line-height: 1;
                margin-top: 0;
            }

            button{
                width: 200px;
                height: 30px;
                margin-bottom: 0;
                font-size: 13px;
                line-height: 0;
            }
        }
        .section-right{
            display: none;
        }

        .page-footer{
            flex-wrap: wrap;
            width: 200px*10px;
        }

        .footer-section{
            margin: 0;
            padding: 0;
        }
        .page-footer{
            display: none;
        }

        .product-item:target(.test) {
            background: green;
        }

        .test{
            background: red;
        }
        .bakery_quality{
            a{
                font-size: 20px;
            }

            i{
                font-size: 20px;
            }
        }

        // PRODUCTS

        .column.main .product-items {
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            font-size: 26px;
            clip-path: none;
            flex-wrap: wrap;
            letter-spacing: 0;
        }

        .page-layout-1column .block.widget .products-grid .product-item:nth-child(4n + 1) {
            width: 40%;
            margin: 0;
        }

        .page-layout-1column .block.widget .products-grid .product-item{
            width: 40%;
            margin: 0;
        }

        .page-layout-1column .block.widget .products-grid .product-item:nth-child(3n + 1){
            width: 40%;
            margin: 0;
        }

        .block.widget .product-item-info {
            max-height: 420px;
        }

    }
}
